
/* 

AVAILABLE FONTS 

font-family: 'Press Start 2P', cursive;

font-family: 'Averia Libre', cursive;
font-family: 'Taviraj', serif;

font-family: 'Averia Sans Libre', cursive;
font-family: 'Varela', sans-serif;

font-family: 'Cabin Sketch', cursive;
font-family: 'Hind Vadodara', sans-serif;

*/ 

/* ALL */ 

/* the asterisk (*) targets all the code */ 
/* used this to clear out the browser's automatic formatting that leaves spaces on the sides */

/* * {
    margin: 0; 
    padding: 0; 
} */

/* NAV */ 


/* PAGES */ 

.about-page,
.projects-page,
.contact-page {
    height: 100vh;
    background-color:  #000000;
}

h1 {
    font-family: 'Exo', sans-serif; 
    color: #f2f4f3; 
}


/* ABOUT PAGE */ 

/* container for the paragraph, spans, and image in the "about me" section*/ 


.about-page p {
    font-family: 'Overpass', monospace;
    font-size: 30px; 
    color: #f2f4f3; 
}

p span {
    color: #04e824; 
}

/* p span:hover { 
    color: #04e824; 
    font-family: 'Overpass', monospace;
} */

/* for the image in the about page section */ 

.about-page img { 
    height: 450px;  
    width: 650px; 
    border-radius: 10px; 
} 

/* PROJECTS PAGE */ 

/* BOOTSTRAP CARDS */ 

/* container holding all of the card components */ 
/* used flexbox here to help align them on the page as desired  */ 


/* context and spacing inside the card */ 

.card-body {
    border: 1px solid #04e824; 
    background-color: #121420;
    color: #f2f4f3;
}

.card-body h5 {
    font-family: 'Electrolize', sans-serif; 
}

.card-body p {
    font-family: 'Overpass', monospace;
}

/* customizing the card buttons with different colors and effects */ 


/* CONTACT PAGE */ 

.contact-link {
    font-family: 'Metal Mania', cursive; 
    letter-spacing: 1rem;
    font-size: 50px; 
    text-decoration: none; 
}

/* .contact-links-container a:link {
    color: #04e824; 
} */

/* .contact-links-container a:visited {
    color: #138a36;
} */

/* .contact-links-container a:hover {
    color: #18ff6d;
} */

/* .contact-links-container a:active {
    color: #285238; 
} */

/* lets me position and rorate the contact links to be a square or whatever formation i want */ 

#github {

    position: relative; 
    top: 55.5px; 
    left: 200px;

    writing-mode: vertical-rl;
    text-orientation: upright; 

}

#discord {

    position: relative; 
    top: 82px; 
    left: 555px;

    writing-mode: vertical-rl;
    text-orientation: upright; 

}

#linkedin {

    position: relative; 
    top: 125px; 
    left: 610.5px;

    /* writing-mode: vertical-rl;
    text-orientation: upright;  */

}

#instagram {

    position: relative; 
    top: -385px; 
    left: 100px;

}

/* FOOTER */ 

/* creates space at the bottom for the footer content */ 
/* margin creates space around the text inside the footer container, the border-bottom */ 

footer {

    font-family:'Overpass', monospace;
}

/* gives color to the text and removes the natural link underline */ 

footer a {
    color: #04e824; 
    text-decoration: none; 
}

/* similar to the link effects for the navbar */ 

footer a:link {
    color: #04e824;
}

footer a:active {
    color: #285238; 
}

