/* 

AVAILABLE FONTS 

font-family: 'Press Start 2P', cursive;

font-family: 'Averia Libre', cursive;
font-family: 'Taviraj', serif;

font-family: 'Averia Sans Libre', cursive;
font-family: 'Varela', sans-serif;

font-family: 'Cabin Sketch', cursive;
font-family: 'Hind Vadodara', sans-serif;

*/ 

/* ALL */ 

/* the asterisk (*) targets all the code */ 
/* used this to clear out the browser's automatic formatting that leaves spaces on the sides */

/* * {
    margin: 0; 
    padding: 0; 
} */

/* NAV */ 

#resume {
    color: #00FF41; 
}

/* PAGES */ 

/* .about-page,
.projects-page,
.contact-page {
    height: 100vh;
    background-color:  #0D0208;
} */

h1, p {
    color: #FFFDFD; 
}


/* ABOUT PAGE */ 

/* container for the paragraph, spans, and image in the "about me" section*/ 

.about-page {
    height: 100vh;
    background-color:  #0D0208;
}

.about-page p {
    font-size: 30px; 
    color: #FFFDFD; 
}

.about-page p span {
    color: #00FF41; 
}

.move-about {
    margin-top: 195px;
}

/* PROJECTS PAGE */ 

.projects-page {
    height: 100vh;
    background-color:  #0D0208;
} 

.move-projects {
    margin-top: 135px; 
}

/* BOOTSTRAP CARDS */ 

.card-title, .card-text {
    color: #fffdfd; 
}


/* .card-body a:active {
    background-color: #00ff41; 
    color: #0d0208; 
}

.card-body a:hover {
    background-color: #00ff41; 
    color: #0d0208; 
} */


/* CONTACT PAGE */ 

.contact-page {
    height: 100vh;
    background-color:  #0D0208;
}

/* FOOTER */ 
